/* this file is assets/css/main.css, made to get styles to actually cascade, like a whole sheet of them ;) */

/* yes, it's correct for font-face to go at the top, above the tailwind directives section below */
@font-face { font-display: block; font-weight: 300; font-style: normal; font-family: "Helvetica Neue"; src: url('~/assets/fonts/helvetica-neue-light.woff2') format('woff2'); }
@font-face { font-display: block; font-weight: 400; font-style: normal; font-family: "Helvetica Neue"; src: url('~/assets/fonts/helvetica-neue-roman.woff2') format('woff2'); }
@font-face { font-display: block; font-weight: 700; font-style: normal; font-family: "Helvetica Neue"; src: url('~/assets/fonts/helvetica-neue-bold.woff2') format('woff2'); }

@font-face { font-display: block; font-weight: 300; font-style: italic; font-family: "Helvetica Neue"; src: url('~/assets/fonts/helvetica-neue-light-italic.woff2') format('woff2'); }
@font-face { font-display: block; font-weight: 400; font-style: italic; font-family: "Helvetica Neue"; src: url('~/assets/fonts/helvetica-neue-roman-italic.woff2') format('woff2'); }
@font-face { font-display: block; font-weight: 700; font-style: italic; font-family: "Helvetica Neue"; src: url('~/assets/fonts/helvetica-neue-bold-italic.woff2') format('woff2'); }
/* font display block, not swap, to show up in this face or not at all! */

/* tailwind directives; when tailwind builds our css, it replaces these three with the generated stylesheet in these three layers */
@tailwind base;       /* "preflight" resets + any base-layer styles */
@tailwind components; /* component classes (e.g. form styles, if you enabled the forms plugin) */
@tailwind utilities;  /* all the utility classes (e.g. .text-center, .mt-4, etc.) */

/* define our customizations in our own @layer block after the directives to override these defaults */
@layer base {

	body { /* styling <body> here will also reach down to <div>, <p>, <h1> and the others, and <span> */
		@apply font-sans;
	}
	code, pre {
		@apply font-mono;
	}
	a {
		@apply underline; /* tailwind unstiles links by default; get the underline back on */
	}
}
